*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input[type="email"] {
    border: solid;
    border-color: aqua;
    
}

button[type="submit"]{
    border:solid;
    border-color: aqua;
    border-radius: 20%;
    background-color: peru;
    

}